*{
    padding: 0;
    margin: 0;
}
.nav-content{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
}
#menu-btn{
    display: none;
    padding: 10px;
}
#menu-btn .fa-solid{
    font-size: 30px;
}
.menu{
    display: flex;
    align-items: center;
}
.nav-links{
    display: flex;
    gap: 20px;
    list-style: none;
}
a{
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
}
.click_menu{
    display: block !important;
    position: absolute;
    top: 71px;
    left: 0;
    width: 300px;
    background: palevioletred;
    padding: 20px 30px;
    display: grid !important;
    grid-template-columns: 1fr;
    row-gap: 30px;
    transition: 0.3s;
}
@media(max-width:778px){
    #nav-links{
        display: none;
    }
    #menu-btn{
        display: block;
    }
}